/*{
	padding: 0;
	margin: 0;
}
.tong{
	border: 1px solid black;
	width: 900px;
	height: 500px;
	margin: auto;
	position: relative;
}
.tong .vang{
	border: 1px solid black;
	width: 45px;
	height: 45px;
	background: yellow;
	position: absolute;
	top: 200px;
	left: 450px;
	border-radius: 25px;
}
.tong .do{
	border: 1px solid black;
	width: 45px;
	height: 45px;
	background: red;
	position: absolute;
	left: 450px;
	top: 100px;
	border-radius: 25px;
}
.tong .xanh{
	border: 1px solid black;
	width: 45px;
	height: 45px;
	background: green;
	position: absolute;
	bottom: 150px;
	left: 450px;
	border-radius: 25px;
}
*/
